h2 List Group

p Please don't use contextual classes.

ul.list-group
  li.list-group-item.active Cras justo odio
  li.list-group-item Dapibus ac facilisis in
  li.list-group-item Morbi leo risus
  li.list-group-item Porta ac consectetur ac
  li.list-group-item Vestibulum at eros
