// openSUSE Brand Colors
$opensuse-green  : #73ba25;
$opensuse-dark   : #173f4f;
$opensuse-cyan   : #35b9ab;
$opensuse-cyan2  : #00a489;
$opensuse-green2 : #6da741;
$opensuse-blue   : #21a4df;

// Bootstrap colors
$brand-primary   : $opensuse-cyan;
$brand-success   : $opensuse-green;
$brand-info      : $opensuse-blue;
$brand-inverse   : $opensuse-dark;

// Boby
$body-bg         : #f6f6f6;

// Links
$link-color           : $opensuse-cyan2;
$link-hover-decoration: none;

// Fonts
$font-family-sans-serif: "Open Sans", "Source Sans Pro", sans-serif;
$headings-font-family: "Open Sans Condensed", "Source Sans Pro", sans-serif;
$font-family-monospace:  "Source Code Pro", monospace;
