.dropdown, .btn-group {
    .dropdown-menu {
        transition: max-height 0.2s, opacity 0.2s 0.1s, visibility 0s 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }

    &.show .dropdown-menu {
        transition: max-height 0.2s, opacity 0.2s, visibility 0s;
        max-height: 190px;
        opacity: 1;
        visibility: visible;
    }
}
