@font-face {
  font-family: "Play";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: local("Play Regular"),
    url("#{$font-path}/Play-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Play";
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  src: local("Play Bold"),
    url("#{$font-path}/Play-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: local("Lato Regular"),
    url("#{$font-path}/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: italic;
  font-display: auto;
  src: local("Lato Italic"),
    url("#{$font-path}/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  src: local("Lato Bold"),
    url("#{$font-path}/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: italic;
  font-display: auto;
  src: local("Lato Bold Italic"),
    url("#{$font-path}/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Victor Mono";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: local("Victor Mono Regular"),
    url("#{$font-path}/VictorMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Victor Mono";
  font-weight: normal;
  font-style: italic;
  font-display: auto;
  src: local("Victor Mono Italic"),
    url("#{$font-path}/VictorMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Victor Mono";
  font-weight: bold;
  font-style: normal;
  font-display: auto;
  src: local("Victor Mono Bold"),
    url("#{$font-path}/VictorMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Victor Mono";
  font-weight: bold;
  font-style: italic;
  font-display: auto;
  src: local("Victor Mono Bold Italic"),
    url("#{$font-path}/VictorMono-BoldItalic.ttf") format("truetype");
}
