@use "variables";

.navbar {
  background: var(--bs-body-bg);
  border-bottom: 1px solid var(--bs-tertiary-bg);

  .navbar-brand {
    font-family: $headings-font-family;
    line-height: 1.3;
    color: $navbar-light-brand-color;
    display: inline-flex;

    img {
      margin-right: calc($spacer / 2);
    }
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;
    }
  }

  .form-control {
    border: 0;
  }

  .btn-secondary {
    border: 0;
    background-color: variables.$white;
    color: $navbar-light-color;
  }

  .avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.5em;
    margin-top: -0.3em;
    margin-bottom: -0.2em;
  }

  .dropdown-menu {
    max-height: calc(100vh - 3.3em);
    overflow: auto;
  }
}

.navbar-toggler {
  margin-left: auto;
}

@include media-breakpoint-down(sm) {
  // TODO: deal with different navbar break point
  .navbar-collapse {
    order: 1;
    margin-top: $navbar-padding-y;
  }
}
