.navbar {
  $image-height: 32px;
  justify-content: initial;
  border-bottom: 2px solid $green;
  background: $body-bg !important;

  .navbar-brand {
    color: $navbar-light-brand-color;

    @include hover-focus {
      color: $navbar-light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  img {
    height: $image-height;
    width: auto;
    margin-top: -$navbar-padding-y;
    margin-bottom: -$navbar-padding-y;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    background: $green;
    color: $white;
    user-select: none;
    margin-left: -$navbar-padding-x;
    margin-top: -$navbar-padding-y;
    margin-bottom: -$navbar-padding-y;
    padding-left: $navbar-padding-x;
    padding-right: $navbar-padding-x;
    align-self: stretch;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  form {
    margin: 0;
    align-self: stretch;
  }
}

.navbar-toggler {
  border: 0;
  margin-left: auto;
}

.megamenu-toggler,
.darkmode-toggler {
  display: block !important; // make it always visible
  margin-left: 0;
}

@include media-breakpoint-down(sm) {
  // TODO: deal with different navbar break point
  .navbar-collapse {
    order: 1;
    margin-top: $navbar-padding-y;
  }
}
