@charset 'UTF-8';

$font-path: "../fonts/typicons/";

/* @FONT-FACE loads font into browser */
@font-face {
  font-family: "typicons";
  font-weight: normal;
  font-style: normal;
  src: url($font-path+"typicons.eot");
  src: url($font-path+"typicons.eot?#iefix") format("embedded-opentype"),
    url($font-path+"typicons.woff") format("woff"),
    url($font-path+"typicons.ttf") format("truetype"),
    url($font-path+"typicons.svg#typicons") format("svg");
}

.typcn.typcn-lg::before {
  font-size: 150%;
  line-height: 66.67%;
  margin-bottom: -16.67%;
  margin-top: -16.67%;
}
