@mixin cjk-typeface($font-family) {
  font-family: "Noto Sans", $font-family, sans-serif;

  body {
    font-family: "Noto Sans", $font-family, sans-serif;
  }

  button,
  input,
  select,
  textarea {
    font-family: "Noto Sans", $font-family, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .display-1,
  .display-2,
  .display-3,
  .lead {
    font-family: "Noto Sans", $font-family, sans-serif;
  }

  h1,
  h2,
  .h1,
  .h2,
  .display-1,
  .display-2,
  .display-3 {
    font-weight: 200;
  }

  h3,
  h4,
  .h3,
  .h4,
  .lead {
    font-weight: 300;
  }

  h5,
  h6,
  .h5,
  .h6 {
    font-weight: 400;
  }
}

[lang="zh"],
[lang="zh-CN"],
[lang="zh_CN"],
[lang="zh-Hans"] {
  @include cjk-typeface("Noto Sans SC");
}

[lang="zh-TW"],
[lang="zh_TW"],
[lang="zh-Hant"] {
  @include cjk-typeface("Noto Sans TC");
}

[lang="ja"],
[lang="jp"] {
  @include cjk-typeface("Noto Sans JP");
}

[lang="kr"] {
  @include cjk-typeface("Noto Sans KR");
}

// Use smaller font sizes for smart phone
@include media-breakpoint-down(sm) {
  .display-1 {
    font-size: 3.5rem;
  }

  .display-2 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2.5rem;
  }
}
