// Monochrome
$black: #000000;
$white: #ffffff;

// Gray
$gray-100: #fffcf7;
$gray-200: #fff8ee;
$gray-300: #e7dfd8;
$gray-400: #d0c7c1;
$gray-500: #b8aeab;
$gray-600: #8b7d79;
$gray-700: #5d4b46;
$gray-800: #301a14;
$gray-900: #180d0a;

// Primary colors
$green: #42cd42;
$turquoise: #20caa3;

// Secondary colors
$blue: #00c8ff;
$yellow: #d4cb1b;
$red: #ff5b45;
$orange: #f68946;
$purple: #a498ff;
$indigo: #79a4ff;
$pink: #dc738d;
$cyan: #0bc9de;

// Bootstrap colors
$primary: $blue;
$secondary: $gray-200;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;

// Body background
$body-bg: $white;
$body-color: $black;

// Scrollbars
$scrollbar-color: transparent;
$scrollbar-thumb-color: rgba(0, 0, 0, 0.2);

// Options

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;
$color-mode-type: media-query;

// Fonts
$font-path: "../fonts/";
$font-family-sans-serif: "Lato", sans-serif;
$font-family-serif: "Source Serif Pro", serif;
$font-family-monospace: "Victor Mono", monospace;
$font-size-base: 1rem;
$font-size-small: 0.8rem;

// Headings
$headings-margin-bottom: 1rem;
$headings-font-family: "Play", sans-serif;
$headings-font-weight: 400;

// Alerts
$alert-link-font-weight: 400;

// Navbar
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;

// Close
$close-text-shadow: none;
$close-color: inherit;

// Dropdowns
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $blue;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $blue;
$dropdown-link-disabled-color: $gray-500;
