// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

$font-path: "../fonts" !default;

$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

$blue: #21a4df;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc4035;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #73ba25;
$teal: #6da741;
$cyan: #35b9ab;

// Bootstrap colors
$primary: $cyan;
$secondary: $gray-300;
$success: $green;
$info: $blue;
$warning : $yellow;
$danger : $red;
$light: $gray-100;
$dark: $gray-900;

// Body background
$body-bg: #ffffff;
$body-color: #000000;

// Links
$link-color: $teal;

// Options

$enable-caret: true;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

// Components

$border-width: 2px;

// Fonts
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Source Serif", serif;
$font-family-monospace: "Source Code Pro", monospace;
$font-size-base: 1rem;
$font-size-small: 0.8rem;

// Headings
$headings-margin-bottom: 1em;
$headings-font-family: "Open Sans Condensed", "Open Sans", sans-serif;
$headings-font-weight: bold;

$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$display1-size: $font-size-base * 6;
$display2-size: $font-size-base * 5.5;
$display3-size: $font-size-base * 4.5;
$display4-size: $font-size-base * 3.5;

// Table
$table-border-color: $gray-400;
