// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

// Fonts
// =====
$font-path: "../fonts" !default;

// Colors
// ======
// All colors are from openSUSE Design System https://opensuse.eosdesignsystem.com/colors

// Monochrome
$black: #000000;
$white: #ffffff;

// Gray
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Primary colors
$green: #73ba25;
$blue: #173f4f;
$turquoise: #35b9ab;

// Secondary colors
$cerulean: #21a4df;
$yellow: #ffc107;
$red: #dc3545;
$orange: #fe7f2d;

// These names are not in Bootstrap color lists
$colors: (
  'turquoise': $turquoise,
  'cerulean': $cerulean,
);

// Bootstrap colors
$primary: $turquoise;
$secondary: $gray-200;
$success: $green;
$info: $cerulean;
$warning : $yellow;
$danger : $red;
$light: $gray-100;
$dark: $gray-900;

// Body background
$body-bg: $white;
$body-color: $black;

// Links
$link-color: $cerulean;

// Options

$enable-caret: true;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: true;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

// Components

$border-width: 2px;

// Fonts
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Source Serif", serif;
$font-family-monospace: "Source Code Pro", monospace;
$font-size-base: 1rem;
$font-size-small: 0.8rem;

// Headings
$headings-margin-bottom: 1em;
$headings-font-family: "Open Sans Condensed", "Open Sans", sans-serif;
$headings-font-weight: bold;

$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$display1-size: $font-size-base * 6;
$display2-size: $font-size-base * 5.5;
$display3-size: $font-size-base * 4.5;
$display4-size: $font-size-base * 3.5;

// Table
$table-border-color: $gray-400;
