@import "variables";

#doc-navbar {
  position: sticky;
  top: 0;
  justify-content: center;

  .nav {
    white-space: nowrap;
    overflow: auto;
    flex-wrap: nowrap;

    .nav-item a:not(.active):hover {
      @media (pointer: fine) {
        color: $success;
      }
    }
  }
}
