@import "variables";

#doc-title {
  div {
    transform: skewX(-15deg);
  }
}

#doc-navbar {
  position: sticky;
  top: 0;

  .nav {
    white-space: nowrap;
    overflow: auto;
    flex-wrap: nowrap;
  }
}
