h4 Button color variants

p
  | Bootstrap provided several color variants of buttons. We don't recommend you
  | to use all of them. Instead, you should use as less variants as possible.

p Only the following color variants are recommended:

.my-3
  button.btn.btn-primary Primary
  |
  |
  button.btn.btn-secondary Secondary
  |
  |
  button.btn.btn-danger Danger
  |
  |
  button.btn.btn-link Link
