p
  | Based on
  |
  a(href="https://github.com/openSUSE/artwork") openSUSE artwork
  | .

h3 Application icons

table.table.table-dark
  tbody
    tr
      td
        img(src="/dist/images/app-icons/www.svg" width="48" height="48" alt="www icon")
      td www.opensuse.org
      td Home page icon
    tr
      td
        img(src="/dist/images/app-icons/software.svg" width="48" height="48" alt="software icon")
      td software.opensuse.org
      td Software search engine icon
    tr
      td
        img(src="/dist/images/app-icons/wiki.svg" width="48" height="48" alt="wiki icon")
      td en.opensuse.org
      td Wiki icon
    tr
      td
        img(src="/dist/images/app-icons/forum.svg" width="48" height="48" alt="forum icon")
      td forums.opensuse.org
      td Forum icon
    tr
      td
        img(src="/dist/images/app-icons/build.svg" width="48" height="48" alt="obs icon")
      td build.opensuse.org
      td OBS icon
