mixin icon(name)
  .col-6.col-sm-4.col-md-3.col-lg-2.text-center
    svg.icon.icon-2x
      use(xlink:href="#" + name)
    p= name


h2#icons Icons

pre
  | &lt;svg class="icon"&gt;
  |   &lt;use xlink:href="#leap"&gt;
  | &lt;/svg&gt;

.row
  +icon("opensuse")
  +icon("opensuse-button")
  +icon("leap")
  +icon("tumbleweed")

p
  | More icons can be found at
  |
  a(href="https://remixicon.com") RemixIcon.com
  |.
