h4 Normal inputs

p
  | Text, search, email, password inputs have the same appearance. They are just
  | single element components.

.mb-3
  input.form-control.mb-3(type="text" placeholder="Text input")
  textarea.form-control(placeholder="Textarea")

.bg-dark.text-light.mb-3.p-3
  input.form-control.mb-3(type="text" placeholder="Text input")
  textarea.form-control(placeholder="Textarea")

h4 Cunstom inputs

p Selects, checkboxs, radio buttons and file inputs should use custom control.

.mb-3
  .custom-control.custom-checkbox.mb-3
    input#custom-check-1.custom-control-input(type="checkbox" checked)
    label.custom-control-label(for="custom-check-1") Checkbox 1
  .custom-control.custom-checkbox.mb-3
    input#custom-check-2.custom-control-input(type="checkbox")
    label.custom-control-label(for="custom-check-2") Checkbox 2
  .custom-control.custom-radio.mb-3
    input#custom-radio-1.custom-control-input(type="radio" name="custom-radio-1" value="1" checked)
    label.custom-control-label(for="custom-radio-1") Radio button 1
  .custom-control.custom-radio.mb-3
    input#custom-radio-2.custom-control-input(type="radio" name="custom-radio-1" value="2")
    label.custom-control-label(for="custom-radio-2") Radio button 2
  select.custom-select.mb-3
    option gedit
    option emacs
    option kate
    option(selected) nano
    option vim
  .custom-file
    input#custom-file-1.custom-file-input(type="file")
    label.custom-file-label(for="custom-file-1") Choose file

.bg-dark.text-light.mb-3.p-3
  .custom-control.custom-checkbox.mb-3
    input#custom-check-3.custom-control-input(type="checkbox" checked)
    label.custom-control-label(for="custom-check-3") Checkbox 1
  .custom-control.custom-checkbox.mb-3
    input#custom-check-4.custom-control-input(type="checkbox")
    label.custom-control-label(for="custom-check-4") Checkbox 2
  .custom-control.custom-radio.mb-3
    input#custom-radio-3.custom-control-input(type="radio" name="custom-radio-2" value="1" checked)
    label.custom-control-label(for="custom-radio-3") Radio button 1
  .custom-control.custom-radio.mb-3
    input#custom-radio-4.custom-control-input(type="radio" name="custom-radio-2" value="2")
    label.custom-control-label(for="custom-radio-4") Radio button 2
  select.custom-select.mb-3
    option gedit
    option emacs
    option kate
    option(selected) nano
    option vim
  .custom-file
    input#custom-file-1.custom-file-input(type="file")
    label.custom-file-label(for="custom-file-1") Choose file
