h2 Modals

.modal-dialog
  .modal-content
    .modal-header
      .modal-title Modal title
      button.close(data-dismiss="modal") &times;

    .modal-body
      p Modal body text goes here.

    .modal-footer
      button.btn.btn-secondary(data-dismiss="modal") Close
      button.btn.btn-primary Save changes
