#cross-site-navbar
  .sites
    a(href="www.html") main
    a(href="software.html") software
    a(href="wiki.html") wiki
    a(href="forum.html") forum
    a(href="#") more
  .actions
    .custom-control.custom-switch.dark-mode-switch
      input#dark-mode-input.custom-control-input(type="checkbox")
      label.custom-control-label(for="dark-mode-input") Dark Mode
