nav.navbar.navbar-expand-lg
  a.navbar-brand(href="/")
    img.mr-2(src="./dist/images/logo/logo-white.svg")
    span.navbar-title
      Chameleon

  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-collapse")
    svg.icon
      use(xlink:href="#menu-2-line")

  #navbar-collapse.collapse.navbar-collapse

    ul.navbar-nav.mr-auto

      li.nav-item
        a.nav-link(href="/") Get Started

      li.nav-item
        a.nav-link(href="/elements.html") Elements

      li.nav-item
        a.nav-link(href="/components.html") Components

      li.nav-item
        a.nav-link(href="/changelog.html") Changelog
