extends ../layouts/navbar.pug

block title
  span Chameleon

block content
  ul.navbar-nav.mr-auto

    li.nav-item
      a.nav-link(href="#how-to-use") How to use

    li.nav-item
      a.nav-link(href="#design-language") Design language

    li.nav-item
      a.nav-link(href="#usability-accessibility") Usability &amp; accessibility

    li.nav-item
      a.nav-link(href="#components") Components

    li.nav-item
      a.nav-link(href="#graphics") Graphics

    li.nav-item
      a.nav-link(href="#examples") Examples
