extends ../layouts/doc.pug

block content
  h1 Components
  include ../sections/alerts.pug
  include ../sections/buttons.pug
  include ../sections/cards.pug
  include ../sections/inputs.pug
  include ../sections/lists.pug
  include ../sections/modals.pug

