extends ../layouts/doc.pug

block content
  h1 Components
  include:markdown-it(html) ../../../docs/alerts.md
  include:markdown-it(html) ../../../docs/breadcrumbs.md
  include ../sections/buttons.pug
  include ../sections/cards.pug
  include:markdown-it(html) ../../../docs/footer.md
  include ../sections/inputs.pug
  include ../sections/lists.pug
  include ../sections/modals.pug

