extends ../layouts/main.pug

block content

  h1.my-5 Components

    p
    | Chameleon is based on Bootstrap 4.3, providing all components from
    |
    a(href="https://getbootstrap.com/") Bootstrap
    | .

  include ../sections/buttons.pug

  include ../sections/inputs.pug

  include ../sections/alerts.pug

  include ../sections/cards.pug

  include ../sections/lists.pug

  include ../sections/modals.pug
