extends ../layouts/main.pug

block content

  h1.my-5 Design Elements

  ol
    li
      a(href="#colors") Colors
    li
      a(href="#fonts") Fonts
    li
      a(href="#icons") Icons

  include ../sections/colors.pug
  include ../sections/fonts.pug
  include ../sections/icons.pug
