extends ../layouts/main.pug

block content
  .text-center
    h1.display-4 CHAMELEON
    p.lead openSUSE Design System for Web
    hr.my-4
    .row
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#stack-line")
        p Bootstrap 4 &amp; Remix Icon
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#html5-line")
        p Powered by HTML5 &amp; CSS3
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#pencil-ruler-line")
        p openSUSE Branding Guidelines
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#e-bike-2-line")
        p Super Fast &amp; Light Weight
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#device-line")
        p Responsive &amp; Cross-Platform
      .col-sm-6.col-md-4.py-3
        p
          svg.icon.icon-2x
            use(xlink:href="#contrast-2-line")
        p Light &amp; Dark Mode Switch
    hr.my-4
    p
      a(href="https://github.com/opensuse/chameleon/releases")
        img(src="https://img.shields.io/github/v/release/opensuse/chameleon" alt="version")
      span &nbsp;
      a(href="https://github.com/opensuse/chameleon/graphs/pulse")
        img(src="https://img.shields.io/github/commit-activity/m/opensuse/chameleon" alt="commit activities")
      span &nbsp;
      a(href="https://github.com/opensuse/chameleon/graphs/contributors")
        img(src="https://img.shields.io/github/contributors/opensuse/chameleon" alt="contributors")
      span &nbsp;
      a(href="https://l10n.opensuse.org/engage/opensuse-theme-chameleon/?utm_source=widget")
        img(src="https://l10n.opensuse.org/widgets/opensuse-theme-chameleon/-/master/svg-badge.svg" alt="commit activities")
      span &nbsp;
      a(href="https://github.com/openSUSE/chameleon/blob/master/LICENSE")
        img(src="https://img.shields.io/github/license/opensuse/chameleon" alt="license")
