extends ../layouts/example.pug

block variables
  - var name = 'Wiki'
  - var title = 'openSUSE Wiki'

block content

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#")
      img.mr-2(src="dist/images/logo/logo-white.svg")
      span.navbar-name= name

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#site-menu")
      span.navbar-toggler-icon

    #site-menu.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Portals
        li.nav-item
          a.nav-link(href="#") Categories
        li.nav-item
          a.nav-link(href="#") Help
        li.nav-item
          a.nav-link(href="#") FAQ
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
            span EN
          .dropdown-menu
            a.dropdown-item(href="#") English
            a.dropdown-item(href="#") 简体中文

      form.form-inline
        input.form-control.l10n(type="search" data-msg-id="search" placeholder="Search")

      ul.navbar-user-menu.navbar-nav
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#")
            img(src="https://www.gravatar.com/avatar/4391a20b3ad9ae843e66bc179c3ae2b9")
          .dropdown-menu.dropdown-menu-right
            a.dropdown-item(href="#") Profile
            a.dropdown-item(href="#") Settings
            a.dropdown-item(href="#") Logout
