.navbar {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 30px;
  min-height: 58px;

  .navbar-brand {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 18px 16px;
    height: 56px;

    img {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 8px;
      vertical-align: top;
    }
  }

  .navbar-toggler {
    padding: 4px 4px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .megamenu-toggler {
    margin-right: 16px;
  }

  .navbar-nav > li > a {
    @include media-breakpoint-up(sm) {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}
