@use "variables";

// Firefox
* {
  scrollbar-color: variables.$scrollbar-thumb-color variables.$scrollbar-color;
  scrollbar-width: thin;
}

// Chrome
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: variables.$scrollbar-color;
}

::-webkit-scrollbar-thumb {
  background: variables.$scrollbar-thumb-color;
}
