@use "variables";

::selection {
  background: $green; /* WebKit/Blink Browsers */
  color: variables.$white;
}

::-moz-selection {
  background: $green; /* Gecko Browsers */
  color: variables.$white;
}
