- var title = 'Chameleon'
- var subtitle = 'web theme for openSUSE'

block variables

html(lang="en")
  head
    title= title + ' - ' + subtitle
    link(href="./dist/images/app-icons/www-16.png", rel="icon", sizes="16x16" type="image/png")
    link(href="./dist/images/app-icons/www.png", rel="icon", sizes="256x256" type="image/png")
    link(href="./dist/css/chameleon.css", rel="stylesheet")
    link(href="./dist/css/theme-doc.css", rel="stylesheet")
    link(href="./lib/highlight-github.css", rel="stylesheet")

  body(data-spy="scroll" data-target="#theme-doc-navbar" data-offset="100" style="position: relative;")

    include ../components/theme-doc-header.pug

    include ../components/theme-doc-navbar.pug

    .container
      block content

    include ../components/theme-doc-footer.pug

    script(src="./dist/js/chameleon.js")
    script(src="./lib/highlight.js")
    script hljs.initHighlightingOnLoad()
