pre {
	padding: $spacer;
  background-color: $gray-800;
  color: $white;
}

// When you don't want to escape wiki code inside <pre>, you can use
// <div class="pre"></div> instead.
.pre {
  @extend pre;
}
